#newsletter{
  position: relative;
  padding-top: 100px;
  padding-bottom:100px;

  .container{
    position:relative;
    z-index:3;
  }

  h2{
    color: #fff;
  }
  h4{
    color: $brand-color-light;
    font-weight: $font-weight-semibold;
  }
}

#footer-nav{
  background-color:#000;

  h3{
    font-size: 20px;
    font-weight: $font-weight-bold;
    color: $brand-color;
    text-transform:uppercase;
  }

  ul.footer-menu{
    a{
      color:#fff;
      text-transform:uppercase;
      font-size:14px;

      &:hover{
        color: $brand-color-light;
        text-decoration:none;
      }
    }

    .footer-social{
      margin-top:40px;

      a{
        font-size:24px;
        color: $brand-color;

        &+a{
          margin-left:10px;
        }

        &:hover,
        &:focus{
          color:#fff;
          text-decoration:none;
        }
      }
    }
  }

}

#colophon{
  background-color: #000;
  text-align:center;
  padding-bottom:60px;

  p{
    color:$brand-color-light;
    font-size:14px;
    text-transform:uppercase;
    margin-bottom:5px;

    a{
      color:#fff;
    }
  }
}