.contact-form{
  @include max-width-centered(530px);
}

.form-control{
  border-radius:0;
  border-color: $brand-color;
}

.btn-submit{
  display:inline-block;
  border:none;
  background-color: $brand-color;
  padding:10px 40px;
  width:100%;
  transition:all .3s ease;
  font-size:30px;
  color: #fff;
  font-weight: $font-weight-semibold;

  &:hover,
  &:focus{
    background-color: $brand-color-light;
  }
}

.newsletter-form{
  .form-control{
    border:none;
  }

  .btn-submit{
    background-color: $brand-color-light;
    font-size: 16px;
    color: #000;
    font-weight: $font-weight-normal;

    &:hover,
    &:focus{
      background-color: $brand-color;
    }
  }
}

.payment-form .form-control-plaintext{
  text-align:center;
}

.em-booking-form-details{
  input[type="text"],
  textarea{
    border-radius: 0;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #8b8055;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  label{
    text-align:left;
    margin-bottom:0;
  }
}