#hero{
  margin-top: 45px;
  position:relative;
  height:630px;
  background-repeat: no-repeat;
  background-size: cover;

  &.hp-hero{
    height:800px;
  }

  .textured-border{
    position:absolute;
    bottom:0;
    z-index:3;
    width:100%;
    max-height:113px;
  }
}

.hero-caption{
  position:relative;
  z-index: 3;
  text-align:right;
  
  p{
    font-size:18px;
    font-weight: $font-weight-semibold;
    color:#fff;
    max-width:320px;
    margin-right:0;
    margin-left:auto;
  }

  p.text-stroke{
    font-size:74px;
    font-family: $alt-font;
    font-weight: $font-weight-extrabold;
    text-transform:uppercase;
    line-height:.9em;
    color: $brand-color;
    max-width:none;
    text-shadow: 1px 0px 0px #fff, 
                -1px 0px 0px #fff, 
                0px 1px 0px #fff, 
                0px -1px 0px #fff;
  }
}