.sidebar-section{
  padding-bottom:25px;
  padding-right:15px;
  
  @include media-breakpoint-up(768px){
    border-right:1px solid $brand-color;
  }

  h3{
    font-size:28px;
    font-weight: $font-weight-semibold;
  }

  ol, ul{
    margin-bottom:0;
    padding-left:15px;
    list-style:none;
   
    li{
      padding-bottom:5px;
  
      a{
        color: #000;
      }
    }
  }

  .search-form{
    margin-bottom:25px;

    .form-control{
      border: 1px solid $brand-color-light;
    }

    #button-search{
      border-width:1px;
      border-color: $brand-color-light;
      border-radius: 0;

      &:hover,
      &:focus{
        background-color: $brand-color-light;
      }
    }
  }
}

#bbp_search_submit{
  border-width:1px;
  border-color: $brand-color-light;
  border-radius: 0;
  padding: 0px 10px;
  background-color:transparent;
  transition: all .3s ease;

  &:hover,
  &:focus{
    background-color: $brand-color-light;
  }
}

#blog-sidebar{
  .sidebar-section:first-child{
    padding-bottom:0px;
    padding-right:0px;
  }

  @include media-breakpoint-up(768px){
    .sidebar-section:first-child{
      border-right:none;
    }
  }
}

#forum-sidebar{
  .sidebar-section{
    padding-right:0;
    padding-left:0px;
    padding-top:25px;
    border-top:5px solid #000;

    &:first-child{
      border-top:none;
    }

    @include media-breakpoint-up(768px){
      border-right:none;
    }

    h3{
      text-align:center;
    }
  }

  #bp-login-widget-form{
    label{
      margin-bottom:0;
      margin-top:15px;
    }

    .input{
      border: 1px solid $brand-color-light;
      width:100%;
      height:38px;
    }
    .forgetmenot{
      margin-bottom:15px;
    }

    #bp-login-widget-submit{
      border: none;
      background-color: $brand-color;
      padding:10px 25px;
      transition: all .3s ease;
      color:#fff;
      text-transform:uppercase;
      font-weight: $font-weight-semibold;

      &:hover,
      &:focus{
        background-color: $brand-color-light;
        color:#fff;
        text-decoration:none;
      }
    }
  }
}

#classes-sidebar{
  .sidebar-section{
    text-align:left;
    padding-right:0;
    padding-left:15px;
    border-right:none;
  }

  @include media-breakpoint-up(sm){
    border-right:none;
    border-left:1px solid $brand-color
  }

  .textwidget{
    h4{
      font-size:18px;

      a{
        color: #000;
      }
    }
  }
}