.sidebar-section{
  padding-bottom:25px;
  padding-right:15px;
  
  @include media-breakpoint-up(768px){
    border-right:1px solid $brand-color;
  }

  h3{
    font-size:28px;
    font-weight: $font-weight-semibold;
  }

  ol, ul{
    margin-bottom:0;
    padding-left:15px;
    list-style:none;
   
    li{
      padding-bottom:5px;
  
      a{
        color: #000;
      }
    }
  }

  .search-form{
    margin-bottom:25px;

    .form-control{
      border: 1px solid $brand-color-light;
    }

    #button-search{
      border-width:1px;
      border-color: $brand-color-light;
      border-radius: 0;

      &:hover,
      &:focus{
        background-color: $brand-color-light;
      }
    }
  }
}

#blog-sidebar{
  .sidebar-section:first-child{
    padding-bottom:0px;
    padding-right:0px;
  }

  @include media-breakpoint-up(768px){
    .sidebar-section:first-child{
      border-right:none;
    }
  }
}