body{
  font-family: $main-font;
  font-weight: $font-weight-normal;
  color: $alt-color;
  font-size:16px;
}

a{
  transition: all .3s ease;
}

h1, h2{
  font-family: $alt-font;
  font-weight: $font-weight-bold;
  margin-bottom:15px;
}
h1{
  font-size: 52px;
}
h2{
  font-size: 40px;
}

.dark-overlay{
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  background-color:rgba(0,0,0,.5);
  z-index:1;
}

section{
  padding-top:40px;
  padding-bottom:40px;
}

.intro-centered{
  text-align:center;
  @include max-width-centered(775px);

  h1{
    color: $brand-color;
  }
}

.btn-main{
  background-image: url(images/texture-button.png);
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-position:center center;
  font-family: $alt-font;
  font-weight: $font-weight-bold;
  color: #fff;
  font-size:16px;
  text-transform: uppercase;
  padding: 2% 8%;
  margin-top:25px;
  display:inline-block;

  &:hover,
  &:focus{
    color: #fff;
    text-decoration:none;
    background-color:$accent-color;
  }
}

.btn-alt{
  display:inline-block;
  font-size:24px;
  font-weight: $font-weight-extrabold;
  color: $brand-color;
  background-color: #fff;
  padding:5px 20px;

  &:hover,
  &:focus{
    background-color: $brand-color;
    color: #fff;
    text-decoration:none;
  }
}

.form-control{
  border-radius:0;
  border:none;
}

.btn-submit{
  display:inline-block;
  border:none;
  background-color: $brand-color-light;
  padding:10px 40px;
  width:100%;
  transition:all .3s ease;

  &:hover,
  &:focus{
    background-color: $brand-color;
  }
}