/*************************************
  custom variables and 
  bootstrap variable overrides
*************************************/

$main-font: "Open Sans", sans-serif;
$alt-font: "Teko", sans-serif;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

$brand-color: #8b8055;
$brand-color-light: #b2a16b;
$alt-color: #000;
$accent-color: #573c00;

@mixin max-width-centered($max-width){
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}